
.picture-container{
    height: auto;

}

.picture-container ul{
    float: left;
}
.picture-container ul li{
    width: 260px;
    display: inline-block;
    vertical-align: middle;
}
.picture-container ul li .case{
    width: 100px;
    height: 16px;
    font-size: 16px;
    line-height: 20px;
    border: none;

}
.picture-container ul li input{
    margin: 5px 5px 5px 0;
    text-align: center;
    font-size: 16px;
}
/*修改*/
.picture-container ul li .image-con{
    width: 260px;
    height: 200px;
}
.picture-container ul li .image-case{
    width: 100%;
    height: 100%;
}

/*dig*/
.dig_c{width:98%;margin:10px auto 0;overflow:hidden;clear:both;text-align:center;vertical-align:middle}
.dig_c var{margin:0 4px}
.dig_c input{vertical-align:middle}
.pb15{padding-bottom:15px}
.inb_a a{display:-moz-inline-block;display:-moz-inline-box;display:inline-block}

.dig_a input{border:1px solid #cfdced} */
.dig_a .hand{height:20px;line-height:18px;padding:0 4px;font-weight:bold;color:#06c;background-color:#e9f0f3}
.dig_a a,.dig_a span{height:18px;line-height:18px}
.dig_a a{color:#06c;border:1px solid #cfdced;background-color:#e9f0f3}
.dig_a span{color:#666;cursor:default;border:1px solid #ccc;background-color:#eee}
.dig_a a:hover{color:#f24503;text-decoration:none;border:1px solid #0097f9;background-color:#b0d5ed}

.dig_c{}
.dig_c a,.dig_c span{height:24px;line-height:24px}
.dig_c a{color:#06c;border:1px solid #fff;background-color:#fff}
.dig_c a:hover{color:#055d90;text-decoration:none;border:1px solid #055d90;background-color:#fff}
.dig_c .current{font-weight:bold}
.dig_c .break{font-weight:bold}
.dig_c .dev{font-size:14px;margin:0 2px}


.clearfix {
    *zoom: 1;
}
.clearfix:before,

.clearfix:after {

    display: table;

    line-height: 0;

    content: "";

}
.clearfix:after {

    clear: both;

}